<% require "cgi" %>

<h1>irc.gimite.net</h1>

<p><b>※irc.gimite.netのWebサーバとロガーが、9/12 5:03-10:46頃に落ちていました。現在は復旧しています。利用者の方にはご不便をおかけしました。<a href="http://d.hatena.ne.jp/Gimite/20090912/1252724070" target="_blank">→詳細</a></b></p>

<p><b>※irc.gimite.netのWebサーバが、9/8ほぼまる1日落ちていたようです。現在は復旧しています。利用者の方にはご不便をおかけしました。<a href="http://d.hatena.ne.jp/Gimite/20090908/1252425156" target="_blank">→詳細</a></b></p>

<p>irc.gimite.net はIRCサーバ + Web上で動くIRCクライアント (<a href="http://irc.juggler.jp/qi2/doc/qi2readme.html" target="_blank">QuickIRC2</a>) + 過去ログサーバ です。現在試験運用中です。チャンネルを適当に作ってご自由にお使いください。</p>

<p>
  とりあえず試してみたい、という方は
  <%= link_to("\#ロビー", "/client?utf8=" + CGI.escape('#ロビー'), {"target" => "_blank"}) %>
  (<%= link_to("過去ログ", "/channel/" + CGI.escape("ロビー")) %>)
  にどうぞ。
</p>

<%= form :action => url(:action => "channel") do %>
  <p>
    <%= text_field :name => "channel", :value => '#', :size => 10,
      :label => "チャンネル " %>
    に <%= submit "移動" %> 。過去ログはこちらから。新しいチャンネルを作る場合もこちら。
  </p>
<% end =%>

<p><%= link_to("最近入ったチャンネルに入室", "/client", {"target" => "_blank"}) %>。</p>

<p>LimeChatなどのIRCクライアントを使う場合は、ホスト名 irc.gimite.net 、ポート番号 6667 、<b>文字コード UTF-8</b> で接続してください。</p>

<p>&nbsp;</p>

<p><a href="http://d.hatena.ne.jp/Gimite/20090509" target="_blank">紹介ブログ記事はこちら</a>。<a href="http://github.com/gimite/web-irc-util/tree/master" target="_blank">システムのソースコードはこちら</a>。</p>
